* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.content {
  background: #000;
  opacity: .8;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  max-width: 450px;
}

.input-cidade {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  background-color: #7c7c7c2b;
  color: #fff;
  /* width: calc(100%-100px); */
  width: 75%;
}

.lupa {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #7c7c7c2b;
  cursor: pointer;
  border-radius: 50px;
  float: right;
}

.img-busca {
  width: 20px;
}

.content-2 {
  margin-top: 30px;
}

.cidade {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
}

.temp {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}

.content-3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* .img-previsao {

} */

.previsao {
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}

.umidade {
  color: #fff;
  margin-top: 20px;
}